<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-center">Beneficiários</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<form>
				<div class="input-group">
					<input class="form-control" placeholder="filtrar por qualquer campo " 
						ng-model="filtro" ng-model-options="{ debounce: 800 }">
					<span class="input-group-btn">
						<a href="/beneficiarios/new" class="btn btn-primary" type="button">Novo</a>
					</span>
				</div>
			</form>
		</div>
			
		<div class="row">
			<table class="table table-striped table-bordered table-hover table-sm">
				<thead>
				<tr>
					<th><input type="checkbox"></th>
					<th>Nome</th>
					<th>Idade</th>
					<th>e-Mail</th>
					<th>Saldo</th>
					<th>Ações</th>
				</tr>
				</thead>
				<tbody>
				<tr class="painel-animado" ng-repeat="b in beneficiarios | filter:filtro">
					<td><input type="checkbox"></td>
					<td>{{b.nome}} {{b.sobrenome}}</td>
					<td>{{b.idade}}</td>
					<td>{{b.email}}</td>
					<td>{{b.saldo}}</td>
					<td><a href="#" class="glyphicon glyphicon-eye-open"></a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

